<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
</head>
<body style="margin:5px 0px 0px 5px">
	<div style="font:bold 18pt verdana;">
		@ViewBag.Title
	</div>
	<hr style="border:solid 1px #000080" />
	<div>
		@RenderBody()
	</div>
</body>
</html>